@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 33, 46;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

.slide {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.slide-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  @apply bg-primer-purple text-white px-6 py-3 rounded-full font-semibold transition-all;
}

.button:hover {
  @apply bg-primer-purple-dark;
}

.button-secondary {
  @apply bg-primer-purple-light border border-primer-purple-light text-primer-purple px-6 py-3 rounded-full font-semibold transition-all;
}

.button-secondary:hover {
  @apply border-primer-purple;
}

.option-card {
  @apply rounded-full border text-primer-gray-dark border-primer-gray bg-primer-gray-light px-4 py-2 cursor-pointer transition-all;
}

.option-card:hover {
  @apply border-primer-gray-dark;
}

.option-card.selected {
  @apply text-primer-purple border-primer-purple bg-primer-purple-light;
}

.input-field {
  @apply bg-white text-gray-800 border border-primer-black-light rounded-lg p-4 focus:border-primer-purple focus:outline-none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primer-purple) var(--primer-black-light);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(229, 231, 235, 0.5);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 20px;
}
